*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.header{
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    position:fixed;
    z-index: 100;
    width: 100%;
    padding: 20px 30px;
    background-color: green;
}
.logo{
    position: relative;
    bottom: 10px;
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 32px;
}

    

.nav.active{
    display: block;
}

.nav a {
    text-decoration: none;
    margin-left: 20px;
    position: relative;
    color: black;
    font-size: 17px;
    font-weight: 500;
}
.nav ::before{
    content: "";
    top: 100%;
    left: 0;
    height: 2px;
    position: absolute;
    background: aqua;
    transition: 0.3s;
}
.nav :hover::before{
    width: 100%;
}
.menu-icon{
    display: none;
}
.search{
    display: flex;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 20%;
    padding: 5px;
    transform: translateY(-10%);
    border-radius: 20px;
    width: 35%;
    border: 2px solid transparent;
    outline: none;   
}
.search-button{
    position: absolute;
    right: 45%;
    top: 26.5%;
    width: 7%;
    border-radius: 20px;
    background: white;
    padding: 5px;
    border: 2px solid transparent;
}
.content{
    position: absolute;
    width: 100%;
    top: 16%;
    text-align: center;
    transform: translateY(-40%)
    
}
.slider{
    position: absolute;
    text-align: center;
    border: 2px solid black;
    width: 900px;
    height: 344px;
    left: 20%;
    top: 20%;
    background: url("cannon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 1px 2px 2px 6px gold;
    animation: slider 6s infinite linear;
    overflow: hidden;
}
.prev{
    cursor: pointer;
    position: relative;
    top: 43%;
    right: 43%;
    border: 2px solid yellowgreen;
    padding: 20px;
}
.next{
    cursor: pointer;
    position: relative;
    top: 43%;
    left: 43%;
    border: 2px solid yellowgreen;
    padding: 20px;
}
.attraction{
    position: absolute;
    top: 78%;
    border: 2px solid transparent;
    width: 100%;
    text-align: center;
    background-color: orange;
    
}
.products{
    text-align: center;
    position: absolute;
    background-image: url("images/cannon.jpg");
    border: 2px solid black;
    top: 86%;
    left: 5%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
}
.des{
    position: absolute;
    text-align: center;
    border: 2px solid black;
    height: 350px;
    width: 250px;
}
.des h3{
    position: absolute;
    top: 75%;
}
.des h3 span{
    position: absolute;
    color: black;
    left: 0%;
    top: 150%;
    
}
.des h3 .a-price{
    position: absolute;
    left: 0%;
    top: 270%;
    text-decoration: none;
    color: orange;
    text-decoration: line-through;
    font-size: 15px;
}
.des h3 .dis{
    position: absolute;
    font-size: 13px;
    left: 47%;
    top: 265%;
}
@keyframes slider{
    0%{background-image: url("images/cannon.jpg");
    }
    100%{background-image: url("images/inkjet.jpg");
    }
    
}


@media screen and (max-width: 768px) {
    .nav {
        display:none;
        
        flex-direction: column;
        position: absolute;
        text-align: center;
        top: 70px;
        left: 0;
        background-color: #f9f9f9;
        width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .nav a {
        margin:0;
        padding: 15px 20px;
        border-bottom: 1px solid #ddd;
    }

    .header {
        padding: 20px;
    }

    .nav.active {
        display: flex;
    }
    .search{
        position: absolute;
        left: 35%;
        top: 26%;
        width: 50%;
        
    }
    .search-button{
        position: absolute;
        top: 22.5%;
        width: 15%;
        left: 70%;
    }
    .menu-icon {
        position: absolute;
        bottom: 40%;
        left: 90%;
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
    .content{
        position: absolute;
        top: 19%;
        text-align: center;
    } 
    .slider{
        position: absolute;
        text-align: center;
        top: 25%;
        width: 60%;
    }
    .prev{
        position: relative;
        right: 28%;
    }
    .next{
        position: relative;
        left: 28%;
    }
}